@CHARSET "UTF-8";

.tab-style {
	width: 20%;
	text-align: center;
	font-size: 150%;
}

.page-header {
	padding-bottom: 10px;
	margin: 20px 0 0;
	border-bottom: 1px solid #eee;
}

.page-header h1 {
	margin-left: 30px;
}

.profile-content {
	padding-top: 30px;
	width: 100%;
	text-align: center;
}

.profile-content small {
	margin-right: 20px;
}

.edit-profile {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.edit-profile-text {
	margin: 7px;
	text-align: right;
}


