@CHARSET "UTF-8";

.tab-style {
	width: 20%;
	text-align: center;
	font-size: 150%;
}

.tab-report-style {
	width: 25%;
	text-align: center;
	font-size: 100%;
}

.tab-assessment-style {
	width: 33%;
	text-align: center;
	font-size: 100%;
}

.tab-admin-style {
	width: 25%;
	text-align: center;
	font-size: 150%;
}

.allocate-tab {
	width: 20%;
	text-align: center;
	font-size: 100%;
}

.assessment-comments {
	height: 200px;
	margin-bottom: 20px;
}

.page-header {
	padding-bottom: 10px;
	margin: 20px 0 0;
	border-bottom: 1px solid #eee;
}

.page-header h1 {
	margin-left: 30px;
}

.profile-content {
	padding-top: 30px;
	width: 100%;
	text-align: center;
}

.profile-content small {
	margin-right: 20px;
}

.edit-profile {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.edit-profile-text {
	margin: 7px;
	text-align: right;
}

.report-container {
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;
}

.search-container {
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;
}

.result-container {
	margin-top: 60px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;
}

.allocate-list-container {
	text-align: center;
	width: 100%;
	min-height: 130px;
	margin-top: 10px;
	padding: 5px 0 0 0;
	list-style-type: none;
}

.allocate-list-container li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 97%;
}

.forum-discuss {
	min-height: 300px;
	max-height: 450px;
	overflow: scroll;
	margin-left: 10%;
	margin-right: 10%;
}

.popover.right {
	display: block;
	position: inherit;
	top: 10px;
	max-width: 40%;
	margin-left: 2%;
}

.popover.left {
	display: block;
	position: inherit;
	margin-left: 58%;
	max-width: 40%;
	top: 10px;
}